body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.imgicon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
}

.header {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

.headertop ul {
    margin: 0;
    padding: 15px;
    gap: 20px;
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img2 {
    height:auto;
    width: 500px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup, .signup2 {
    background: #3882F6;
    border-radius: 25%;
    border: royalblue;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    color: #F9FAF8;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.body1 p {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info img {
    height: 200px;
    width: 200px;
    border: 1px solid #3882F6;
    border-radius: 5%;
}

.info p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    width: 200px;
}

.body2 {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
    padding-top: 80px;
    gap: 2px;
}

.body2 div {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.body2 p {
    display: flex;
    justify-content: flex-end;
}

.body3 {
    margin-left:  130px;
    margin-right: 130px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    gap: 300px;
}

.body3left {
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 40px;
}


.body3left div {
    font-weight: bolder;
    font-size: 36px;
    color: #F9FAF8;
}

.body3left p {
    font-size: 18px;
    color: #E5E7EB;
}

.body3right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.signup2 {
    border: 2px solid #F9FAF8;
    text-align: center;
    display: inline-block;
    padding-top:10px;
    padding-left: 30px;
    padding-right: 30px;
    text-wrap: nowrap;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
}